@import "libs/normalize";
@import "_partials/variables";

* {
  box-sizing: border-box;
}

a {
  color: #19734B;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover {
    color: #2ca831;
  }
}

// Custom styles.
.hider_title{
    font-family: "Microsoft Yahei";
    cursor: pointer;
}
.close:after{
    content: "▼";
}
.open:after{
    content: "▲";
}

.feed-link a {
  display: inline-block;
}


@import "_partials/layout";
@import "_partials/footer";
@import "_partials/sidebar";
@import "_partials/article";
@import "_partials/post-list";
@import "_partials/monochrome";
@import "_partials/highlight";
@import "_partials/pagination";
@import "_partials/archive";
@import "_partials/mobile-header";
@import "_partials/third-party";
